/* App.css */

/* Layout Structure */
.app-container {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

/* Header */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;  /* This pushes logout to the right */
  align-items: center;
  padding: 20px;
  background-color: #5e5d58;
  z-index: 100;
  box-sizing: border-box;
}

.app-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.logout-button {
  padding: 8px 16px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Login Button */
.login-button {
  margin-top: 100px;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Main Content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 80px 20px 60px; /* Increased top padding for fixed header */
  width: 100%;
  box-sizing: border-box;
}

.left-controls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.notice {
  margin-top: 2rem;
  padding: 16px 16px;
  font-size: 1.1rem;
  background-color: #1e1e1e;
  color:white;
  text-align: center;
  border-radius: 16px;
}


